body, h1, h2, p {
    margin: 0;
}

body {
    font-size: 16px;
    font-family: sans-serif;
    overflow-x: hidden;
}

.hero {
    background-color: #1abc9c;
    color: #ecf0f1;
    display: table;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

.hero h1 {
    display: table-cell;
    vertical-align: middle;
}

/*height the complete area the items*/
.height-stick {
    /*Relative because the content move en relation this*/
    position: relative;
    height: 350vh;
}

/*Section to show on viewport*/
.sticky-section {
    padding-top: 3em;
    bottom: 0;
    height: 100vh;
    position: sticky;
    top: 0;
    width: 100%;
}

.sticky-section h2 {
    position: absolute;
    left: 2em;
}

/*Overflow the content for viewport section*/
.overflow-mask {
    align-items: center;
    display: flex;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

/*Scrollable content*/
.scrollable-section {
    width: 400vh;
}

/*Container items*/
.collection-content {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    justify-content: flex-start;
}

/*Item*/
article {
    background-color: #ecf0f1;
    border-radius: 5px;
    height: 50vh;
    margin: 0 20px;
    text-align: center;
    width: 50vw;
    display: table;
}

article span {
    display: table-cell;
    font-size: 2em;
    vertical-align: middle;
}

.description {
    padding: 10em 0;
    background-color: chocolate;
    text-align: center;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 2em 0;
}